.sliderRoot {
    width: 100%;
    height: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

.sliderTrack {
    width: 100%;
    height: 4px;
    background: #000;
    border-radius: 4px;
    position: relative;
}

.sliderRange {
    height: 100%;
    background: #fff;
    border-radius: 4px;
}

.sliderThumb {
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
}
