@import "tailwindcss";
@import "@heroui/styles";

@theme {
    --font-host: var(--font-host);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-jetbrains);

    --color-fg-resting: #141414;
    --color-fg-hovering: #000000;

    --color-blue: #0f3e9d;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-host);
    min-height: 100vh;
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
