@import "tailwindcss";
@import "@heroui/styles";

@theme {
    --font-host: var(--font-inter);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-jetbrains);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-host);
    min-height: 100vh;
}
