@import "tailwindcss";

@theme {
  --color-layer-01: #fdfdfd;

  --color-edge-01: #b7b4b1;

  --shadow-elevation-01: 0 0 20px 2px #a1a1a1;
}

.dot-pattern-bg {
  background-image: radial-gradient(#aaa 0.5px, #fdfdfd 0.5px);
  background-size: 20px 20px;
}
