@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-host: var(--font-inter);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-jetbrains);

  --color-midn: #050505;
  --color-indigo-glow: #6366F1;
  --color-cyber-violet: #8B5CF6;
  --color-stark-white: #FFFFFF;
  --color-cool-grey: #A3A3A3;
}

:root {
  --background: var(--color-midn);
  --foreground: var(--color-stark-white);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-host);
  min-height: 100vh;
}