@import "tailwindcss";

@theme {
  --color-layer-01: #fffbf7;
  --color-layer-accent-01: #fae5f8;
  --color-layer-accent-02: #cbeab7;

  --color-edge-00: #dcd4cd;
  --color-edge-01: #c8c4c0;

  --shadow-elevation-01: 0 0 50px 1px #c8c4c0;
  --shadow-elevation-02: 0 0 100px 0px #c8c4c0;
}

.dot-pattern-bg {
  background-image: radial-gradient(#aaa 0.5px, var(--color-layer-01) 0.5px);
  background-size: 20px 20px;
}

/* react-colorful pointer styling using Tailwind utilities */
.react-colorful__saturation-pointer,
.react-colorful__hue-pointer {
  @apply !w-3 !h-3 rounded-full border border-white shadow-md;
}

.react-flow-bg {
  background-color: #fafafa;
  background-image: radial-gradient(#d6d6d6 1px, #fafafa 0.6px);
  background-size: 11px 11px;
}

.bg-toolbar {
  background-color: #2f2f2f;
}

@media print {
  body * {
    visibility: hidden !important;
  }

  #print-root,
  #print-root * {
    visibility: visible !important;
  }

  #resume-print {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    box-shadow: none !important;
  }
  @page {
    size: A4;
    margin: 0;
  }

  @media print {
    * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }
}